{% if current_user.role == 'teacher' %}
{% extends "teacherBase.html" %}
{% elif current_user.role == 'admin'%}
{% extends "adminBase.html" %}
{% elif current_user.role == 'accountant' %}
{% extends "accountantBase.html" %}
{% elif current_user.role == 'parent'%}
{% extends "parentBase.html" %}
{% endif %}

{% block header %}
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sysConfig.css') }}">
{% endblock %}

{% block content %}
    <div style="padding-left: 1rem;">
        <h1>403 Forbidden</h1>
        <p>You don't have permission to access on this server.</p>
    </div>

    <script src="{{ url_for('static', filename='sysConfig.js') }}"></script>

{% endblock %}