<!-- addStudent.html -->
{% if current_user.role == 'teacher' %}
    {% extends "teacherBase.html" %}
{% elif current_user.role == 'admin'%}
    {% extends "adminBase.html" %}
{% elif current_user.role == 'accountant' %}
    {% extends "accountantBase.html" %}
{% elif current_user.role == 'parent'%}
    {% extends "parentBase.html" %}
{% endif %}

{% block header %}
    <title>Add student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='addStudent.css') }}">
{% endblock %}

{% block content %}
        <section class="content">
            <div class="header-container">
                <h1>Add student</h1>
            </div>

            <div class="container">
                <form class="form" method="POST" action="{{ url_for('teacher.addStudent') }}">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                
                    <div class="form-group">
                        <label for="grade">Grade:</label>
                        <!-- <input type="text" id="grade" name="grade" required> -->
                        <select id="grade" name="grade" required>
                            <option value="4">Grade 4</option>
                            <option value="5">Grade 5</option>
                            <option value="6">Grade 6</option>
                        </select>
                    </div>
                
                    <div class="form-group">
                        <label>Birthday:</label>
                        <div class="birthday">
                            <input type="text" id="day" maxlength="2" placeholder="DD">
                            <span>/</span>
                            <input type="text" id="month" maxlength="2" placeholder="MM">
                            <span>/</span>
                            <input type="text" id="year" maxlength="4" placeholder="YYYY">
                            <button type="button" id="calendar-btn">📅</button>
                            <input type="date" id="calendar" style="display: none;"/>

                            <!-- Hidden input to store the combined date -->
                            <input type="hidden" id="dob" name="dob" />
                           
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label for="transport">Transport:</label>
                        <input type="checkbox" id="transport" name="transport" value="true">
                    </div>
                
                    <div class="form-group">
                        <label for="parent">Parent:</label>
                        <input type="text" id="guardian_search" name="guardian_search" autocomplete="off" required>
                        <input type="hidden" id="guardian_id" name="guardian_id" required>
                        <ul id="guardian_results"></ul>
                    </div>
                
                    <div class="form-actions">
                        <button type="submit" class="save-btn">Save</button>
                        <button type="button" class="cancel-btn" onclick="clearForm()">Cancel</button>
                    </div>
                </form>
            </div>

            
            <!-- Flash messages -->
            <div class="flash-messages-container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert {{ category }}" style="margin: 0 auto;">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='addStudent.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}
