<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
    
    {% block header %} {% endblock %}
</head>

<body>
    <!-- Sidebar -->
    <div id="mySidebar" class="sidebar">
        <div class="logo-section">
            <img src="{{ url_for('static', filename='images/kids.jpeg') }}">
        </div>
        <nav class="menu">
            <div class="dropdown">
                <button class="dropdown-btn">Account</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('admin.createUser') }}">Add account</a>
                    <a href="{{ url_for('admin.manageAccount') }}">Manage account</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropdown-btn">System</button>
                <div class="dropdown-content">
                    <a href="#">Configure system</a>
                    <a href="{{ url_for('admin.fee_structure') }}">Fee structure</a>
                    <a href="{{ url_for('admin.role_permission') }}">Edit role permission</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropdown-btn">Student</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('admin.addStudent') }}">Add student</a>
                    <a href="{{ url_for('admin.viewStudents') }}">View details</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-btn">Fee</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('admin.viewBilling') }}">View & edit bill</a>
                    <a href="{{ url_for('admin.viewInvoice') }}">View Invoice</a>
                </div>  
            </div>

            <div class="dropdown">
                <button class="dropdown-btn">Create bill</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('admin.billBunch') }}">By grade</a>
                    <a href="{{ url_for('admin.billSingle') }}">By individual</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-btn">Financial</button>
                <div class="dropdown-content">
                    <a href="#">Financial report</a>
                    <a href="{{ url_for('admin.payment_tracking') }}">Payment tracking</a>
                </div>
            </div>
        </nav>
        <div class="logout-section">
            <a href="\logout">&#x2190;</a>
        </div>
    </div>

    
    <div class="main-content">
        <button class="collapse-button">&#9776;</button>
        <header class="header">
            <div class="time"></div>
            <div class="admin-section">
                <span>Admin</span>
            </div>
        </header>

        {% block content %} {% endblock %}
    </div>

</body>
</html>