{% if current_user.role == 'teacher' %}
    {% extends "teacherBase.html" %}
{% elif current_user.role == 'admin'%}
    {% extends "adminBase.html" %}
{% elif current_user.role == 'accountant' %}
    {% extends "accountantBase.html" %}
{% elif current_user.role == 'parent'%}
    {% extends "parentBase.html" %}
{% endif %}

{% block header %}
    <title>Financial Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='finReport.css') }}">
{% endblock %}

{% block content %}
        <section class="content">
            <div class="header-container">
                <h1>Financial Report</h1>
            </div>
                
            <div class="container">
                <!-- <div class="report-controls"> -->
                    <form action="{{ url_for('accountant.generate_report') }}" method="GET">
                        <div class="month-selector">
                            <label for="month">Select Month:</label>
                            <input type="month" id="month" name="month" required>
                        </div>
                        <button id="generateReport" class="generate-btn" type="submit">Generate Report</button>
                    </form>
                <!-- </div> -->
            </div>
        </section>
    </div>
    <script src="{{ url_for('static', filename='finReport.js') }}"></script>
{% endblock %}
