<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">

    {% block style %} {% endblock %}
</head>

<body>
    <!-- Sidebar -->
    <div id="mySidebar" class="sidebar">
        <div class="logo-section">
            <img src="{{ url_for('static', filename='images/kids.jpeg') }}">
        </div>
        <nav class="menu">
            <div class="dropdown">
                <button class="dropdown-btn">Payment</button>
                <div class="dropdown-content">
                    <a href="#">Make payment</a>
                    <a href="#">View history</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropdown-btn">Notification</button>
                <div class="dropdown-content">
                    <a href="#">View notification</a>
                </div>
            </div>
        </nav>
        <div class="logout-section">
            <a href="/logout">&#x2190;</a>
        </div>
    </div>

    <button class="collapse-button">&#9776;</button>

    <!-- Main Content -->
    <div class="main-content">
        <header class="header">
            <div class="time"></div>
            <div class="admin-section">
                <span>Parent</span>
            </div>
        </header>

    {% block content %} {% endblock %}
    </div>
</body>
</html>