<!--single_fee_preview.html-->
{% if current_user.role == 'teacher' %}
    {% extends "teacherBase.html" %}
{% elif current_user.role == 'admin'%}
    {% extends "adminBase.html" %}
{% elif current_user.role == 'accountant' %}
    {% extends "accountantBase.html" %}
{% elif current_user.role == 'parent'%}
    {% extends "parentBase.html" %}
{% endif %}

{% block header %}
<title>Fee Preview</title>
<link rel="stylesheet" href="{{ url_for('static', filename='billBunch.css') }}">
{% endblock %}

{% block content %}
<section class="content">
    <div class="header-container">
        <h1>Fee Preview</h1>
    </div>

    <div class="preview-container">
        <table class="preview-table">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Details</th>
                    <th>Amount (RM)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ details }}</td>
                    <td>{{ price }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button onclick="window.history.back()" class="back-btn">Back</button>
</section>
{% endblock %} 